/* GENERAL SETUP  */
*{
    box-sizing: border-box;
    margin: 0px;

    /* Testing Mode  */
    border: 1px dashed orange;
}
a{
    color: white;
    text-decoration: none;
}

/* HEADER  */
header{
    min-height: 240px;
    text-align: center;

    color: white;

    background-color: rgb(55, 70, 211);
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 2em;

    margin-bottom: em;/*  FLEX? */
}

header > p{
    margin: auto;
    width: 50%;
}

/* MAIN  */
main{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 3em;
}

.feature{
    display: flex;

    margin-bottom: 5em;
}
.feature img{
    flex: 1 0 50%;

    /* DEBUG  */
    min-height: 100px;
    background-color: rgb(18, 19, 26);
}
.feature section{
    flex: 0 1 50%;

    padding: 1.5em;
}

/* FOOTER  */
footer{
    background-color: rgb(18, 19, 26);

    color: white;
    padding: 10px 5%;
}

/* Site Map  */
footer > div:first-child{
    display: flex;
    justify-content: space-between;
}
.map-section{

}
.map-section:first-child{
    flex: 0 1 25%;
}

/* Credits */
footer > div:last-child{
    display: flex;
    justify-content: space-between;
}